<span></span>
<div md-ripple class="graph-header">
  {{header}}
  <span class="flex-spacer"></span>
  <button md-icon-button (click)='toggle()'><i [ngClass]='{"ion-android-arrow-dropup": isExpanded, "ion-android-arrow-dropdown": !isExpanded}'></i></button>
</div>
<div class="graph-content" *ngIf='data' [ngClass]='{"collapsed": !isExpanded}'>
  <div *ngFor='let point of data' [ngStyle]="{'height': point.height+'%'}">
    <span class="value">{{point.value}}</span>
    <span class="date">{{point.date}}</span>
  </div>
</div>