<md-card>
  <md-card-header *ngIf='profile'>
    <img [src]="profile.profile_picture" alt="" md-card-avatar>
    <md-card-title>{{profile.username}}</md-card-title>
    <md-card-subtitle>{{profile.full_name}}</md-card-subtitle>
  </md-card-header>
  <md-card-content *ngIf="summary">
    <div id="recommendation">
      <i class="ion-star"></i>
      <p>
        Рекомендуем опубликовать фото с хэштегами
        <span class='tag' *ngFor='let tag of summary.tags'>{{tag}}</span>
         и фильтром <span class="filter">{{summary.filters[0]}}</span> в районе {{summary.best_hour}} часов.
      </p>
    </div>
    <div class="data-row" id="counters">
      <div class="data-row-header"></div>
      <div class="data-row-content">
        <div>
          <span class="counter">
            <i class="ion-android-people"></i>
            {{summary.follows}}</span>
          <p>подписчиков</p>
        </div>
        <div>
          <span class="counter">
            <i class="ion-eye"></i>
            {{summary.followed_by}}</span>
          <p>подписок</p>
        </div>
        <div>
          <span class="counter">
            <i class="ion-android-image"></i>
            {{summary.count_media}}</span>
          <p>публикаций</p>
          <span class="mini-counter">
            <i class="ion-android-camera light"></i>{{summary.count_photo}} 
          </span>
          <span class="mini-counter">
            <i class="ion-android-film light"></i>{{summary.count_video}}
          </span>
        </div>
        <div>
          <span class="counter">
            <i class="ion-android-favorite red"></i>
            {{summary.likes}}</span>
          <p>лайков</p>
          <p class="light">
            (в среднем: {{summary.likes_average}})  
          </p>
        </div>
        <div>
          <span class="counter">
            <i class="ion-android-chat"></i>
            {{summary.comments}}</span>
          <p>комментариев</p>
          <p class="light">
            (в среднем: {{summary.comments_average}})  
          </p>
        </div>
        <div>
          <app-involvement-indicator [involvement]="summary.involvement"></app-involvement-indicator>
        </div>
      </div>
    </div>
    <div class="data-row" id="hours">
      <div class="data-row-header">Наилучшие часы публикации</div>
      <div class="data-row-content">
        <div class="hour" *ngFor="let hour of summary.hours; let i = index">
          <div class="square" [ngStyle]="{'opacity': (hour/maxLikeOfHour*0.9+0.1)}"></div>
          <span>{{i}}</span>
        </div>
      </div>
    </div>
    <div class="data-row" id="latest">
      <div class="data-row-header">Последние публикации</div>
      <div class="data-row-content">
        <app-media-thumbnail *ngFor="let media of summary.last_media" [media]="media"></app-media-thumbnail>
      </div>
    </div>
    <div class="data-row" id="popular">
      <div class="data-row-header">Самые популярные</div>
      <div class="data-row-content">
        <app-media-thumbnail *ngFor="let media of summary.max_like" [media]="media"></app-media-thumbnail>
      </div>
    </div>
    <div class="data-row" id="discussed">
      <div class="data-row-header">Самые обсуждаемые</div>
      <div class="data-row-content">
        <app-media-thumbnail *ngFor="let media of summary.max_comments" [media]="media"></app-media-thumbnail>
      </div>
    </div>
    <div class="data-row" id="tags">
      <div class="data-row-header">Популярные хэштеги</div>
      <div class="data-row-content">
        <p>
          <span class="tag" *ngFor="let tag of summary.tags">{{tag}}</span>
        </p>
      </div>
    </div>
    <div class="data-row" id="filters">
      <div class="data-row-header">Популярные фильтры</div>
      <div class="data-row-content">
        <p>
          <span class="filter" *ngFor="let filter of summary.filters">{{filter}}</span>
        </p>
      </div>
    </div>
  </md-card-content>
</md-card>
