:host {
    display: block;
    margin-bottom: 15px;
}

#recommendation {
    background: #FFFDE7;
    margin: 0 -24px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#recommendation i {
    font-size: 48px;
    color: #ffeb3b;
    margin-right: 24px;
}

#recommendation p {
    /*font-size: 16px;*/
}

#counters {
    text-align: center;
}

#counters .data-row-content {
    justify-content: space-around;
}

span.counter {
    font-size: 32px;
}

span.counter>i {
    color: #ccc;
    font-size: 42px;
    vertical-align: middle;
}

span.counter>i.red {
    color: red;
}

span.tag {
    padding: 6px 10px;
    background: #E3F2FD;
    color: #2196F3;
    margin-right: 8px;
    border-radius: 5px;
    font-size: 14px;
}

span.tag:before {
    content: '\f219';
    font-family: 'IonIcons';
    margin-right: 6px;
}

span.filter {
    color: #9C27B0;
    background: #F3E5F5;
    padding: 6px 10px;
    margin-right: 8px;
    border-radius: 5px;
    font-size: 14px;
}

span.filter:before {
    content: '\f358';
    font-family: 'IonIcons';
    margin-right: 6px;
}
