@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    margin: 0;
    background: #eee;
}

p {
    margin: 0;
}

.mat-card {
    background: white;
    color: black;
}

.data-row {
    padding: 10px 0;
}

.data-row-content {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}